/* ----------------------------------------------------------------------------------
	Print styles

	Encoding:	UTF-8
	Author:		Juan G. Hurtado
	e-Mail:		juan.g.hurtado@gmail.com

----------------------------------------------------------------------------------
	Table of contents
----------------------------------------------------------------------------------
	1.MISC
	2.GLOBALS
	3.HEADER
	4.MAIN MENU
	5.SECONDARY MENU
	6.BODY
	7.FOOTER
---------------------------------------------------------------------------------- */

/* =MISC
---------------------------------------------------------------------------------- */


/* =GLOBALS
---------------------------------------------------------------------------------- */
body {
	background: #fff;
	color: #000;
	font: 10pt/1.5 serif;
}

a {
	color: #000;
	text-decoration: none;
}

a:link:after, a:visited:after {
   content: " (" attr(href) ") ";
}

img:after {
	display: block;
	content: " (" attr(alt) ") ";
}


/* =HEADER
---------------------------------------------------------------------------------- */


/* =MAIN MENU
---------------------------------------------------------------------------------- */


/* =SECONDARY MENU
---------------------------------------------------------------------------------- */


/* =BODY
---------------------------------------------------------------------------------- */


/* =FOOTER
---------------------------------------------------------------------------------- */
